.health {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.health .div {
    background-color: #ffffff;
    height: 1095px;
    overflow: hidden;
    position: relative;
    width: 1512px;
}

.health .health-overview {
    align-items: flex-start;
    background-color: #fdfdfd;
    border: 1px solid;
    border-color: var(--variable-collection-primary-color);
    border-radius: var(--collection-1-border-radius-md-duplicate);
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 31px;
    overflow: hidden;
    padding: 28px;
    position: absolute;
    top: 491px;
    width: 883px;
}

.health .frame {
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 38px;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.health .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 28px;
    position: relative;
}

.health .text-wrapper {
    color: var(--variable-collection-primary-color);
    font-family: var(--heading-2-font-family);
    font-size: var(--heading-2-font-size);
    font-style: var(--heading-2-font-style);
    font-weight: var(--heading-2-font-weight);
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.health .sidebar-link {
    align-items: center;
    border: 1px solid;
    border-color: #dae3f8;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    height: 38px;
    padding: 12px;
    position: relative;
}

.health .text-wrapper-2 {
    color: var(--variable-collection-primary-color);
    font-family: "Instrument Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22.4px;
    margin-bottom: -3.00px;
    margin-top: -5.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.health .img {
    height: 16px;
    margin-bottom: -1.00px;
    margin-top: -1.00px;
    position: relative;
    width: 16px;
}

.health .frame-2 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #dae3f8;
    border-radius: 16px;
    display: flex;
    gap: 16px;
    height: 68px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;
}

.health .sidebar-link-wrapper {
    align-items: center;
    background-color: var(--variable-collection-primary-color);
    border-radius: var(--collection-1-border-radius-sm);
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    height: 48px;
    justify-content: center;
    padding: 16px;
    position: relative;
}

.health .sidebar-link-2 {
    align-items: center;
    border-radius: 10px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    margin-bottom: -4.00px;
    margin-top: -4.00px;
    position: relative;
}

.health .icon-instance-node {
    height: 24px;
    position: relative;
    width: 24px;
}

.health .text-wrapper-3 {
    color: #fdfdfd;
    font-family: "Instrument Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22.4px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.health .frame-3 {
    align-items: center;
    background-color: #fdfdfd;
    border-radius: var(--collection-1-border-radius-sm);
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    height: 48px;
    justify-content: center;
    opacity: 0.7;
    padding: 16px;
    position: relative;
}

.health .text-wrapper-4 {
    color: var(--variable-collection-primary-color);
    font-family: "Instrument Sans-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22.4px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.health .frame-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 16px;
    height: 48px;
    justify-content: center;
    opacity: 0.7;
    position: relative;
}

.health .frame-4 {
    align-items: center;
    background-color: #fdfdfd;
    border-radius: var(--collection-1-border-radius-sm);
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    height: 48px;
    justify-content: center;
    padding: 16px;
    position: relative;
}

.health .chart {
    height: 367px;
    position: relative;
    width: 805px;
}

.health .frame-5 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    height: 342px;
    justify-content: space-between;
    left: 0;
    position: absolute;
    top: 0;
}

.health .text-wrapper-5 {
    color: var(--variable-collection-primary-color);
    font-family: var(--body-text-body-text-regular-font-family);
    font-size: var(--body-text-body-text-regular-font-size);
    font-style: var(--body-text-body-text-regular-font-style);
    font-weight: var(--body-text-body-text-regular-font-weight);
    letter-spacing: var(--body-text-body-text-regular-letter-spacing);
    line-height: var(--body-text-body-text-regular-line-height);
    margin-top: -1.00px;
    opacity: 0.7;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.health .text-wrapper-6 {
    color: var(--variable-collection-primary-color);
    font-family: var(--body-text-body-text-regular-font-family);
    font-size: var(--body-text-body-text-regular-font-size);
    font-style: var(--body-text-body-text-regular-font-style);
    font-weight: var(--body-text-body-text-regular-font-weight);
    letter-spacing: var(--body-text-body-text-regular-letter-spacing);
    line-height: var(--body-text-body-text-regular-line-height);
    opacity: 0.7;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.health .vector {
    height: 1px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 758px;
}

.health .vector-2 {
    height: 1px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 46px;
    width: 758px;
}

.health .vector-3 {
    height: 1px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 82px;
    width: 758px;
}

.health .vector-4 {
    height: 1px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 118px;
    width: 758px;
}

.health .vector-5 {
    height: 1px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    top: 152px;
    width: 758px;
}

.health .overlap-group {
    height: 177px;
    left: 46px;
    position: absolute;
    top: 159px;
    width: 758px;
}

.health .vector-6 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 30px;
    width: 758px;
}

.health .vector-7 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 65px;
    width: 758px;
}

.health .vector-8 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 101px;
    width: 758px;
}

.health .vector-9 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 136px;
    width: 758px;
}

.health .vector-10 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 172px;
    width: 758px;
}

.health .group {
    height: 177px;
    left: 0;
    position: absolute;
    top: 0;
    width: 758px;
}

.health .frame-6 {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    left: 47px;
    position: absolute;
    top: 342px;
    width: 750px;
}

.health .text-wrapper-7 {
    color: var(--variable-collection-primary-color);
    font-family: var(--body-text-body-text-regular-font-family);
    font-size: var(--body-text-body-text-regular-font-size);
    font-style: var(--body-text-body-text-regular-font-style);
    font-weight: var(--body-text-body-text-regular-font-weight);
    letter-spacing: var(--body-text-body-text-regular-letter-spacing);
    line-height: var(--body-text-body-text-regular-line-height);
    margin-top: -1.00px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.health .frame-7 {
    align-items: flex-start;
    display: flex;
    gap: 24px;
    left: 31px;
    position: absolute;
    top: 117px;
    width: 883px;
}

.health .frame-8 {
    align-items: center;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--variable-collection-primary-color);
    border-radius: var(--collection-1-border-radius-md);
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    justify-content: center;
    overflow: hidden;
    padding: 28px;
    position: relative;
}

.health .frame-9 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.health .sidebar-link-3 {
    align-items: center;
    border: 1px solid;
    border-color: var(--primaryprimary-850);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    height: 38px;
    padding: 12px;
    position: relative;
}

.health .text-wrapper-8 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    margin-bottom: -0.50px;
    margin-top: -2.50px;
    position: relative;
    width: fit-content;
}

.health .overlap-group-wrapper {
    height: 213px;
    position: relative;
    width: 213px;
}

.health .overlap-group-2 {
    border-radius: 106.5px;
    height: 213px;
    position: relative;
}

.health .frame-10 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    left: 61px;
    position: absolute;
    top: 77px;
}

.health .text-wrapper-9 {
    color: var(--variable-collection-primary-color);
    font-family: var(--heading-3-font-family);
    font-size: var(--heading-3-font-size);
    font-style: var(--heading-3-font-style);
    font-weight: var(--heading-3-font-weight);
    letter-spacing: var(--heading-3-letter-spacing);
    line-height: var(--heading-3-line-height);
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.health .ellipse-wrapper {
    border: 15px solid;
    border-color: var(--surface);
    border-radius: 106.5px;
    height: 213px;
    left: 0;
    position: absolute;
    top: 0;
    width: 213px;
}

.health .ellipse {
    height: 118px;
    left: 92px;
    position: absolute;
    top: -15px;
    width: 106px;
}

.health .frame-11 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--variable-collection-light-green);
    border-radius: var(--collection-1-border-radius-md);
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    overflow: hidden;
    padding: 28px;
    position: relative;
}

.health .frame-12 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    left: 60px;
    position: absolute;
    top: 77px;
}

.health .ellipse-2 {
    height: 213px;
    left: -9px;
    position: absolute;
    top: -15px;
    width: 207px;
}

.health .frame-13 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--purple-fade);
    border-radius: var(--collection-1-border-radius-md);
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    overflow: hidden;
    padding: 28px;
    position: relative;
}

.health .ellipse-3 {
    height: 213px;
    left: 68px;
    position: absolute;
    top: -15px;
    width: 130px;
}

.health .frame-14 {
    align-items: flex-start;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--variable-collection-primary-color);
    border-radius: var(--collection-1-border-radius-md);
    display: flex;
    flex-direction: column;
    gap: 24px;
    left: 935px;
    overflow: hidden;
    padding: 28px;
    position: absolute;
    top: 117px;
    width: 537px;
}

.health .vaccination-schedule {
    color: var(--variable-collection-primary-color);
    font-family: var(--heading-2-font-family);
    font-size: var(--heading-2-font-size);
    font-style: var(--heading-2-font-style);
    font-weight: var(--heading-2-font-weight);
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
    position: relative;
    width: fit-content;
}

.health .frame-15 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
}

.health .frame-16 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
}

.health .frame-17 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.health .table-header {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--variable-collection-faded-blue);
    border: 1px solid;
    border-color: var(--purple-fade);
    border-radius: var(--collection-1-border-radius-sm-duplicate)
        var(--collection-1-border-radius-sm-duplicate) 0px 0px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 24px;
    position: relative;
    width: 100%;
}

.health .frame-18 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 48px;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.health .frame-19 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 432px;
}

.health .text-wrapper-10 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    margin-top: -1.00px;
    opacity: 0.7;
    position: relative;
    width: fit-content;
}

.health .text-wrapper-11 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    margin-top: -1.00px;
    opacity: 0.7;
    position: relative;
    width: 95px;
}

.health .text-wrapper-12 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    margin-top: -1.00px;
    opacity: 0.7;
    position: relative;
    width: 132px;
}

.health .table-header-2 {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--white);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--primaryprimary-850);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
    position: relative;
    width: 100%;
}

.health .frame-20 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 48px;
    justify-content: center;
    position: relative;
    width: 100%;
}

.health .text-wrapper-13 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    position: relative;
    width: 77px;
}

.health .search-bar {
    align-items: center;
    background-color: var(--errorerror-50);
    border: 1px solid;
    border-color: var(--errorerror-100);
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 8px 12px;
    position: relative;
    width: 88px;
}

.health .text-wrapper-14 {
    color: var(--errorerror-600);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.health .frame-21 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 48px;
    justify-content: space-around;
    position: relative;
}

.health .frame-22 {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: space-around;
    position: relative;
    width: 127px;
}

.health .text-wrapper-15 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    height: 18px;
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    margin-top: -1.00px;
    position: relative;
    width: 95px;
}

.health .table-header-3 {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--white);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--primaryprimary-850);
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 0px 0px 12px 12px;
    border-right-style: solid;
    border-right-width: 1px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 24px;
    position: relative;
    width: 100%;
}

.health .search-bar-2 {
    align-items: center;
    background-color: var(--warningwarning-50);
    border: 1px solid;
    border-color: var(--warningwarning-100);
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 8px 12px;
    position: relative;
}

.health .text-wrapper-16 {
    color: var(--warningwarning-500);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.health .text-wrapper-17 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    position: relative;
    width: 76px;
}

.health .search-bar-3 {
    align-items: center;
    background-color: var(--successsuccess-50);
    border: 1px solid;
    border-color: var(--successsuccess-100);
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 8px 12px;
    position: relative;
    width: 88px;
}

.health .text-wrapper-18 {
    color: var(--successsuccess-600);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.health .text-wrapper-19 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    height: 18px;
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    margin-top: -1.00px;
    position: relative;
    width: 91px;
}

.health .text-wrapper-20 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    position: relative;
    width: 78px;
}

.health .text-wrapper-21 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    height: 18px;
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    margin-top: -1.00px;
    position: relative;
    width: 93px;
}

.health .frame-23 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--variable-collection-primary-color);
    border-radius: 12px;
    height: 423px;
    left: 935px;
    overflow: hidden;
    position: absolute;
    top: 645px;
    width: 537px;
}

.health .frame-24 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    left: 24px;
    position: absolute;
    top: 78px;
    width: 474px;
}

.health .icon-instance-node-2 {
    height: 24px !important;
    left: 12px !important;
    position: absolute !important;
    top: 12px !important;
    width: 24px !important;
}

.health .frame-25 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.health .text-wrapper-22 {
    color: var(--variable-collection-primary-color);
    font-family: var(--small-body-font-family);
    font-size: var(--small-body-font-size);
    font-style: var(--small-body-font-style);
    font-weight: var(--small-body-font-weight);
    letter-spacing: var(--small-body-letter-spacing);
    line-height: var(--small-body-line-height);
    position: relative;
    width: fit-content;
}

.health .dividers-instance {
    align-self: stretch !important;
    width: 100% !important;
}

.health .text-wrapper-23 {
    color: var(--variable-collection-primary-color);
    font-family: var(--paragraph-large-semibold-font-family);
    font-size: var(--paragraph-large-semibold-font-size);
    font-style: var(--paragraph-large-semibold-font-style);
    font-weight: var(--paragraph-large-semibold-font-weight);
    height: 26px;
    left: 24px;
    letter-spacing: var(--paragraph-large-semibold-letter-spacing);
    line-height: var(--paragraph-large-semibold-line-height);
    position: absolute;
    top: 22px;
    white-space: nowrap;
}

.health .design-component-instance-node {
    background-color: var(--grey-200) !important;
    left: 24px !important;
    position: absolute !important;
    top: 63px !important;
    width: 474px !important;
}






.health .logo {
    height: 64px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 62px;
}

.health .pet-pal {
    height: 25px;
    left: 68px;
    position: absolute;
    top: 23px;
    width: 102px;
}

.navbar {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 82px;
    position: relative;
}

.health .text-wrapper-24 {
    color: #ffffff;
    font-family: "Instrument Sans-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.health .text-wrapper-25 {
    color: var(--variable-collection-light-green);
    font-family: "Instrument Sans-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.health .text-wrapper-26 {
    color: var(--variable-collection-faded-blue);
    font-family: "Instrument Sans-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.health .frame-27 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 44px;
    position: relative;
}

.health .mynaui-notification {
    height: 52px;
    position: relative;
    width: 52px;
}

.health .frame-28 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 14px;
    padding: 7px 0px;
    position: relative;
}

.health .lilly {
    height: 61px;
    object-fit: cover;
    position: relative;
    width: 58px;
}

.health .oui-arrow-up {
    height: 27px;
    position: relative;
    width: 27px;
}

.health .iconamoon-settings {
    height: 55px;
    position: relative;
    width: 55px;
}

/* Default Light Mode Styles */

  
  .settings-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgba(56, 97, 141, 1);
  }
  
  /* Dark Mode Styles */
  .dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .dark-mode .settings-container {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }
  
  .dark-mode .settings-option button {
    background-color: rgba(56, 97, 141, 1);
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .dark-mode .settings-option button:hover {
    background-color: rgba(40, 70, 100, 1);
  }
  
  .dark-mode .logout-button {
    background-color: #e53935;
  }
  
  .dark-mode .logout-button:hover {
    background-color: #b71c1c;
  }
  