
.appointments {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.appointments .div-2 {
  background-color: #ffffff;
  height: 982px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.appointments .group-37 {
  left: 1216px !important;
  position: absolute !important;
  top: 132px !important;
}

.appointments .text-wrapper-6 {
  color: var(--black-1);
  font-family: "Gilroy-SemiBold-☞", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 1216px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 418px;
}

.appointments .frame-2 {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 19px 39px;
  left: 25px;
  position: absolute;
  top: 143px;
  width: 260px;
}

.appointments .text-wrapper-7 {
  color: var(--black-1);
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.appointments .frame-3 {
  height: 4px;
  position: relative;
  width: 12px;
}

.appointments .ellipse {
  background-color: var(--gray);
  border-radius: 2px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.appointments .ellipse-2 {
  background-color: var(--gray);
  border-radius: 2px;
  height: 4px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 4px;
}

.appointments .frame-4 {
  height: 40px;
  position: relative;
  width: 255.5px;
}

.appointments .text-wrapper-8 {
  color: var(--variable-collection-primary-color);
  font-family: var(--small-body-font-family);
  font-size: var(--small-body-font-size);
  font-style: var(--small-body-font-style);
  font-weight: var(--small-body-font-weight);
  left: 50px;
  letter-spacing: var(--small-body-letter-spacing);
  line-height: var(--small-body-line-height);
  position: absolute;
  top: -1px;
}

.appointments .lilly-wrapper {
  background-color: #e7e7e9cc;
  border-radius: 5px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.appointments .lilly {
  height: 37px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 35px;
}

.appointments .text-wrapper-9 {
  color: #d03258;
  font-family: "Instrument Sans-Medium", Helvetica;
  font-size: 10px;
  font-weight: 500;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.appointments .button-greys {
  align-items: center;
  background-color: var(--shadewhite);
  border: 1px solid;
  border-color: var(--variable-collection-light-green);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 24px;
  justify-content: center;
  left: 182px;
  overflow: hidden;
  padding: 8px 16px;
  position: absolute;
  top: 8px;
  width: 74px;
}

.appointments .container {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  margin-bottom: -3.5px;
  margin-left: -7px;
  margin-right: -7px;
  margin-top: -3.5px;
  position: relative;
}

.appointments .label {
  color: var(--grey-700);
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.appointments .vector {
  height: 12px;
  left: 50px;
  position: absolute;
  top: 22px;
  width: 11px;
}

.appointments .div-3 {
  height: 585px;
  left: 334px;
  position: absolute;
  top: 132px;
  width: 844px;
}

.appointments .text-wrapper-10 {
  color: var(--black-1);
  font-family: "Gilroy-SemiBold-☞", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.appointments .frame-5 {
  background-color: #f6f7f999;
  border-radius: 10px;
  height: 455px;
  left: 8px;
  position: absolute;
  top: 107px;
  width: 820px;
}

.appointments .mon {
  height: 45px;
  left: 113px;
  position: absolute;
  top: 30px;
  width: 32px;
}

.appointments .text-wrapper-11 {
  color: #848585;
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.appointments .text-wrapper-12 {
  color: #000000;
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
}

.appointments .text-wrapper-13 {
  color: var(--black-2);
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 84px;
}

.appointments .text-wrapper-14 {
  color: var(--black-2);
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 139px;
}

.appointments .text-wrapper-15 {
  color: var(--black-2);
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 194px;
}

.appointments .text-wrapper-16 {
  color: var(--black-2);
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 249px;
}

.appointments .text-wrapper-17 {
  color: var(--black-2);
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 304px;
}

.appointments .text-wrapper-18 {
  color: var(--black-2);
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 359px;
}

.appointments .text-wrapper-19 {
  color: var(--black-2);
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 414px;
}

.appointments .tues {
  height: 45px;
  left: 241px;
  position: absolute;
  top: 30px;
  width: 33px;
}

.appointments .wed {
  height: 45px;
  left: 358px;
  position: absolute;
  top: 30px;
  width: 35px;
}

.appointments .text-wrapper-20 {
  color: #000000;
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
}

.appointments .thu {
  height: 45px;
  left: 483px;
  position: absolute;
  top: 30px;
  width: 32px;
}

.appointments .text-wrapper-21 {
  color: #000000;
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
}

.appointments .text-wrapper-22 {
  color: #848585;
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}

.appointments .fri {
  height: 45px;
  left: 601px;
  position: absolute;
  top: 30px;
  width: 18px;
}

.appointments .text-wrapper-23 {
  color: #000000;
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
}

.appointments .sat {
  height: 45px;
  left: 713px;
  position: absolute;
  top: 30px;
  width: 26px;
}

.appointments .overlap-group-2 {
  background-image: url(./line.png);
  background-size: 100% 100%;
  height: 331px;
  left: 83px;
  position: absolute;
  top: 91px;
  width: 709px;
}

.appointments .UX-research {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 22px 44px -4px #9f9f9f26;
  height: 76px;
  left: 39px;
  position: absolute;
  top: 37px;
  width: 412px;
}

.appointments .text-wrapper-24 {
  color: var(--variable-collection-primary-color);
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  left: 85px;
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  position: absolute;
  top: 12px;
}

.appointments .text-wrapper-25 {
  color: var(--variable-collection-primary-color);
  font-family: var(--small-body-font-family);
  font-size: var(--small-body-font-size);
  font-style: var(--small-body-font-style);
  font-weight: var(--small-body-font-weight);
  left: 85px;
  letter-spacing: var(--small-body-letter-spacing);
  line-height: var(--small-body-line-height);
  position: absolute;
  top: 44px;
}

.appointments .text-wrapper-26 {
  color: var(--gray-2);
  font-family: var(--small-body-font-family);
  font-size: var(--small-body-font-size);
  font-style: var(--small-body-font-style);
  font-weight: var(--small-body-font-weight);
  left: 342px;
  letter-spacing: var(--small-body-letter-spacing);
  line-height: var(--small-body-line-height);
  position: absolute;
  top: 44px;
}

.appointments .img-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 14px;
  left: 12px;
  padding: 7px 0px;
  position: absolute;
  top: 1px;
}

.appointments .lilly-2 {
  height: 61px;
  object-fit: cover;
  position: relative;
  width: 58px;
}

.appointments .UX-research-2 {
  background-color: var(--variable-collection-light-green);
  border-radius: 10px;
  box-shadow: 0px 22px 44px -4px #9f9f9f26;
  height: 76px;
  left: 107px;
  position: absolute;
  top: 143px;
  width: 412px;
}

.appointments .text-wrapper-27 {
  color: #ffffff;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  left: 85px;
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  position: absolute;
  top: 12px;
}

.appointments .text-wrapper-28 {
  color: #ffffff;
  font-family: var(--small-body-font-family);
  font-size: var(--small-body-font-size);
  font-style: var(--small-body-font-style);
  font-weight: var(--small-body-font-weight);
  left: 85px;
  letter-spacing: var(--small-body-letter-spacing);
  line-height: var(--small-body-line-height);
  position: absolute;
  top: 44px;
}

.appointments .text-wrapper-29 {
  color: #ffffff;
  font-family: var(--small-body-font-family);
  font-size: var(--small-body-font-size);
  font-style: var(--small-body-font-style);
  font-weight: var(--small-body-font-weight);
  left: 335px;
  letter-spacing: var(--small-body-letter-spacing);
  line-height: var(--small-body-line-height);
  position: absolute;
  top: 44px;
}

.appointments .image {
  height: 71px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 71px;
}

.appointments .overlap-3 {
  border-radius: 10px;
  height: 76px;
  left: 65px;
  position: absolute;
  top: 255px;
  width: 412px;
}

.appointments .UX-research-3 {
  background-color: var(--variable-collection-primary-color);
  border-radius: 10px;
  box-shadow: 0px 22px 44px -4px #9f9f9f26;
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 412px;
}

.appointments .text-wrapper-30 {
  color: #ffffff;
  font-family: var(--small-body-font-family);
  font-size: var(--small-body-font-size);
  font-style: var(--small-body-font-style);
  font-weight: var(--small-body-font-weight);
  left: 334px;
  letter-spacing: var(--small-body-letter-spacing);
  line-height: var(--small-body-line-height);
  position: absolute;
  top: 44px;
}

.appointments .image-2 {
  height: 61px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 61px;
}

.appointments .arrow-instance {
  height: 28px !important;
  left: 179px !important;
  position: absolute !important;
  top: 59px !important;
  width: 28px !important;
}

.appointments .icon-instance-node {
  height: 28px !important;
  left: 800px !important;
  position: absolute !important;
  top: 59px !important;
  width: 28px !important;
}

.appointments .arrow-2 {
  height: 28px !important;
  left: 147px !important;
  position: absolute !important;
  top: 59px !important;
  width: 28px !important;
}

.appointments .text-wrapper-31 {
  color: var(--gray-2);
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 63px;
  white-space: nowrap;
}

.appointments .text-wrapper-32 {
  color: var(--gray-2);
  font-family: "Gilroy-Medium-☞", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 621px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 63px;
  white-space: nowrap;
}

.appointments .UX-research-4 {
  background-color: var(--variable-collection-fade-minty-green);
  border-radius: 10px;
  box-shadow: 0px 22px 44px -4px #9f9f9f26;
  height: 69px;
  left: 1216px;
  position: absolute;
  top: 463px;
  width: 276px;
}

.appointments .text-wrapper-33 {
  color: var(--variable-collection-primary-color);
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 72px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  white-space: nowrap;
}

.appointments .text-wrapper-34 {
  color: var(--variable-collection-primary-color);
  font-family: "Instrument Sans-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 72px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 39px;
}

.appointments .lilly-3 {
  height: 49px;
  object-fit: cover;
  position: relative;
  width: 46px;
}

.appointments .frame-6 {
  height: 4px;
  left: 256px;
  position: absolute;
  top: 8px;
  width: 12px;
}

.appointments .UX-research-5 {
  background-color: var(--variable-collection-fade-minty-green);
  border-radius: 10px;
  box-shadow: 0px 22px 44px -4px #9f9f9f26;
  height: 69px;
  left: 1215px;
  position: absolute;
  top: 562px;
  width: 276px;
}

.appointments .UX-research-6 {
  background-color: var(--variable-collection-fade-minty-green);
  border-radius: 10px;
  box-shadow: 0px 22px 44px -4px #9f9f9f26;
  height: 69px;
  left: 1215px;
  position: absolute;
  top: 661px;
  width: 276px;
}

.appointments .UX-research-7 {
  background-color: var(--variable-collection-fade-minty-green);
  border-radius: 10px;
  box-shadow: 0px 22px 44px -4px #9f9f9f26;
  height: 69px;
  left: 1215px;
  position: absolute;
  top: 760px;
  width: 276px;
}

.appointments .menu {
  align-items: flex-start;
  background-color: var(--variable-collection-primary-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: -1px;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  width: 1512px;
}

.appointments .frame-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 131px;
  position: relative;
  width: 100%;
}

.appointments .group-2 {
  height: 64.49px;
  position: relative;
  width: 169.64px;
}

.appointments .logo {
  height: 64px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 62px;
}

.appointments .pet-pal {
  height: 25px;
  left: 68px;
  position: absolute;
  top: 23px;
  width: 102px;
}



.appointments .text-wrapper-35 {
  color: var(--white);
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}





.appointments .frame-8 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 44px;
  margin-right: -80.64px;
  position: relative;
}

.appointments .mynaui-notification {
  height: 52px;
  position: relative;
  width: 52px;
}

.appointments .frame-9 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14px;
  padding: 7px 0px;
  position: relative;
}

.appointments .oui-arrow-up {
  height: 27px;
  position: relative;
  width: 27px;
}

.appointments .iconamoon-settings {
  height: 55px;
  position: relative;
  width: 55px;
}

.appointments .iconamoon-settings-2 {
  height: 55px;
  margin-left: -9495.64px;
  margin-top: -31px;
  position: relative;
  width: 55px;
}

.appointments .group-3 {
  height: 188px;
  left: 344px;
  position: absolute;
  top: 743px;
  width: 818px;
}

.appointments .overlap-4 {
  height: 188px;
  position: relative;
}

.appointments .rectangle-2 {
  background-color: var(--variable-collection-fade-orange);
  border-radius: 10px;
  height: 164px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 818px;
}

.appointments .frame-10 {
  align-items: center;
  display: inline-flex;
  gap: 127px;
  left: 28px;
  position: absolute;
  top: 0;
}

.appointments .frame-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 11px;
  position: relative;
  width: 444px;
}

.appointments .p {
  align-self: stretch;
  color: var(--variable-collection-primary-color);
  font-family: "Instrument Sans-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 30px;
  position: relative;
}

.appointments .frame-12 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 17px;
  position: relative;
}

.appointments .mask-group {
  height: 34.39px;
  position: relative;
  width: 34px;
}

.appointments .text-wrapper-38 {
  color: var(--variable-collection-primary-color);
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 149px;
}

.appointments .dog-high-five-cuate {
  height: 187.99px;
  position: relative;
  width: 212.73px;
}
