/* .navbar {
  display: flex;
  justify-content: center;

  flex: 0 0 auto;
  gap: 82px;
  position: relative;
}

.text-wrapper-36 {
  color: var(--variable-collection-faded-blue);
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

.text-wrapper-37 {
  color: var(--variable-collection-light-green);
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

.frame-26 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 131px;
  position: relative;
  width: 100%;
}

.menu {
  align-items: flex-start;
  background-color: var(--variable-collection-primary-color);

  gap: 10px;

  padding: 10px 20px;

  top: 0;
}

.group-2 {
  height: 64.49px;
  position: relative;
  width: 169.64px;
} */


.navbar {
  display: flex;
  width: 1450px;
  padding: 20px 0 20px 0;
  justify-content: space-between;
}

.navbar-main{
  background-color: var(--variable-collection-primary-color); 
  width: 100%;
  height: auto;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
}

.text-wrapper-36 {
  color: white;
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}


.text-wrapper-36.active {
  color: green; /* Color when active */
}

.text-wrapper-36.pending {
  color: orange; /* Color when pending */
}