/* Default Light Mode Styles */


.settings-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgba(56, 97, 141, 1);
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode .settings-container {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-mode .settings-option button {
  background-color: rgba(56, 97, 141, 1);
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.dark-mode .settings-option button:hover {
  background-color: rgba(40, 70, 100, 1);
}

.dark-mode .logout-button {
  background-color: #e53935;
}

.dark-mode .logout-button:hover {
  background-color: #b71c1c;
}



.navbar {
  display: flex;
  width: 1450px;
  padding: 20px 0 20px 0;
  justify-content: space-between;
}

.navbar-main{
  background-color: var(--variable-collection-primary-color); 
  width: 100%;
  height: auto;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
}

.text-wrapper-36 {
  color: white;
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}


.text-wrapper-36.active {
  color: green; /* Color when active */
}

.text-wrapper-36.pending {
  color: orange; /* Color when pending */
}